################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation/swiftstock2.metadata.v9.bin
/.vs/ProjectEvaluation/swiftstock2.projects.v9.bin
/.vs/ProjectEvaluation/swiftstock2.strings.v9.bin
/SwiftStock2/bin/Debug/net8.0/appsettings.Development.json
/SwiftStock2/bin/Debug/net8.0/appsettings.json
/SwiftStock2/bin/Debug/net8.0/SwiftStock.deps.json
/SwiftStock2/bin/Debug/net8.0/SwiftStock.dll
/SwiftStock2/bin/Debug/net8.0/SwiftStock.exe
/SwiftStock2/bin/Debug/net8.0/SwiftStock.pdb
/SwiftStock2/bin/Debug/net8.0/SwiftStock.runtimeconfig.json
/SwiftStock2/bin/Debug/net8.0/SwiftStock.staticwebassets.endpoints.json
/SwiftStock2/bin/Debug/net8.0/SwiftStock.staticwebassets.runtime.json
